#header {
    width: 1920px;
    height: 850px;
    flex-shrink: 0;
    background: rgba(229, 84, 115, 0.10);
}

.header-div {
    display: flex;
    gap: 140px;
}

.header-heading {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 708px;
    margin-bottom: 0px;
}

#header-text {
    margin-left: 240px;
    padding-top: 196px;
}

#header-image {
    padding-top: 50px;
    margin-right: 150px;
}

.button {
    margin-top: 0px;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: none;
}

.button-text {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-text {
    margin-top: 32px;
    margin-bottom: 32px;
}

.header-subheading {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    width: 634px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.featured-heading {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}

.feature-sub {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

#feature-content {
    margin-top: 178px;
    text-align: center;
    margin-bottom: 49px;
}

#three-flowers {
    display: flex;
    margin-left: 240px;
    margin-right: 240px;
    gap: 24px;
}

.pink {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    background-image: url('flower-asset/pngwin-6.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: width="310px", height="428px" contain;

}

.blue {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    background-image: url('flower-asset/pngwing-5.png');
    background-repeat: no-repeat;
    background-position: center;
}

.green {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    background-image: url('flower-asset/pngwing-7.png');
    background-repeat: no-repeat;
    background-position: bottom center;
}

.pink-text {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 570px;
}

#group-container {
    display: flex;
    margin-top: 195px;
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 128px;
    justify-content: space-around;
    width: 1440px;
    height: 320px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.icon-text {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    /* 145.833% */
}

.icons {
    margin-top: 86px;
    text-align: center;
}

#hot-container {
    width: 1922px;
    height: 620px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.hot-pink-text {
    color: #E55473;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#hot-text-part {
    padding-top: 100px;
    margin-left: 423px;
}

.hot-heading {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 0px;
}

.hot-sub {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 52px;
    width: 594px;
}
#hot-button{
    text-align: center;
}